<%- include('./components/header.ejs') -%>
<main class="contact-form__wrapper">
    <form 
        <% if (contact) { %>
            action="/modify-contact/<%= contact.id %>" 
        <% } else { %>
            action="/add-contact" 
        <% } %>
        method="POST"
        encType="multipart/form-data"
    >
        <label>Civility:
            <select name="civility" id="">
                <option value="Mr" <%= contact && contact.civility === "Mr" ? 'selected' : '' %>>Mr</option>
                <option value="Mme" <%= contact && contact.civility === "Mme" ? 'selected' : '' %> >Mme</option>
            </select>
        </label>
        <label>First name:
            <input type="text" name="firstName" value="<%= contact && contact.firstName %>" required>
        </label>
        <label>Last name:
            <input type="text" name="lastName" value="<%= contact && contact.lastName %>" required>
        </label>
        <label>Phone:
            <input type="number" name="phone" value="<%= contact && contact.phone %>" required>
        </label>
        <label>Email:
            <input type="email" name="email" value="<%= contact && contact.email %>" required>
        </label>
        <label>Date: <%= contact && contact.birthdate %>
            <input type="date" name="birthdate" value="<%= contact && contact.birthdate %>" required>
        </label>
        <label>Profile pic:
            <div class="img-input__wrapper">
                <input type="file" name="image">
                <% if (contact && contact.image) { %>
                    <img 
                    width="50"
                    height="50"
                    <% if (contact.image !== "default_pfp.jpg") { %>
                      src="/img/<%= contact.id %>/<%= contact.image %>"
                    <% } else { %>
                      src="/img/<%= contact.image %>"
                    <% } %>
                    alt=""
                  >
                <% } %>
            </div>
        </label>

        <div>
            <button>Submit</button>
        </div>
    </form>
</main>
<%- include('./components/footer.ejs') -%>