<%- include('./components/header.ejs') -%>
<main>
  <div>
    <div>Civility: <%= contact.civility %></div>
    <div>Last name: <%= contact.lastName %></div>
    <div>First name: <%= contact.firstName %></div>
    <div>Phone: <%= contact.phone %></div>
    <div>Email: <%= contact.email %></div>
    <div>Birthdate: <%= contact.birthdate %></div>
    <div>
      <img 
        width="50" 
        height="50" 
        <% if (contact.image !== "default_pfp.jpg") { %> 
          src="/img/<%= contact.id %>/<%= contact.image %>" 
        <% } else { %>
          src="/img/<%= contact.image %>"
        <% } %> 
          alt="<%= contact.firstName %> <%= contact.lastName %>"
      >
      <span><%= contact.image %></span>
    </div>
  </div>
  <div>
    <a href="/modify-contact/<%= contact.id %>">Edit contact</a>
  </div>
</main>
<%- include('./components/footer.ejs') -%>
