<%- include('./components/header.ejs') -%>
<main>
  <ul>
    <% for (let contact of contacts) { %>
        <li>
          <a href="/contact/<%= contact.id %>"><%= contact.firstName %> <%= contact.lastName %></a>
          <form action="/delete-contact/<%= contact.id %>" method="POST">
            <button type="submit">X</button>
          </form>
        </li>
    <% } %>
  </ul>
</main>
<%- include('./components/footer.ejs') -%>