<%- include('./components/header.ejs') -%>
<main>
  <ul>
    <% for (let contact of contacts) { %>
        <li><a href="/contact/<%= contact.id %>"><%= contact.firstName %> <%= contact.lastName %></a></li>
    <% } %>
  </ul>
</main>
<%- include('./components/footer.ejs') -%>